
canvas {  
  touch-action: pinch-zoom;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  border: 1px solid black;
  padding: 0px;
}

/* disable number pon on firefox */

input[class='rule'] {
    -moz-appearance:textfield;
}


/* Webkit browsers like Safari and Chrome */

input[class=rule]::-webkit-inner-spin-button,
input[class=rule]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.rules {
    padding-bottom:5px;
    position:relative;
}


.rule {
    width:30%;
}


.artControls {
    padding-top: 5px;
    position:relative;
}

.brushSize {
    width:30%;
}

.artButton[id="eraserButton"] {
    width:40%;
}

.textures {
    padding-top: 5px;
}
.texture {
    width: 32px;
    height: 32px;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    border: 1px solid black;
}

.RLEBox {
    padding-top: 5px;
}

@media screen and (max-device-width: 1024px) and (orientation: portrait) {
    canvas {
	height: auto;
	width: 96vmin;
	margin-left: auto;
	margin-right: auto;
	display: block;
    }
    .controls {
	position:relative;
	width: 95vmin;
	padding-top: 5px;
    }
    .artButton[id="eraserButton"] {
	width: 5em;	
    }

    .gen {
	width: 100%;
    }
    
    .RLEBox{
	display: inline-grid;
	grid-gap: 1vm;
    }

    item1 {
	grid-row-start:1;
	grid-row-end:2;
	grid-column-start:1;
	grid-column-end:2;		 
    }

    item2 {
	grid-row-start:2;
	grid-row-end:3;
	grid-column-start:1;
	grid-column-end:2;		 
    }

    item3 {
	grid-row-start:1;
	grid-row-end:3;
	grid-column-start:2;
	grid-column-end:3;		 
    }
    
    textarea {	      
	padding: 5px;
    }
}

@media screen and  (max-device-width: 1024px) and (orientation: landscape) {
    
    canvas {
	position: absolute;
	right: 3vmin;
	padding: 0px;
	height: 95vmin;
	width: auto;
    }
    
  .controls {
      width: 25vw; /* Set the width of the sidebar */
      z-index: 1; /* Stay on top */
      top: 0; /* Stay at the top */
      left: 0;
      overflow-x: hidden; /* Disable horizontal scroll */
  }

  input[id="link"] {
      100%
  }
  
  .textures {
      display: block;
      width: 100%;
      height: 20vh;
  }

  .gen {
      display: block;
      width: 100%;
  }
    
  textarea {
      resize: vertical;
  }

  
}
    
@media screen and (min-device-width: 1024px) {
    canvas {
	margin-left: 200px; /* Same width as the sidebar + left position in px */
	padding: 0px;
	width: 800px;
	height: 600px;		   
    }
    
  .controls {
      height: 100%; /* Full-height: remove this if you want "auto" height */
      width: 180px; /* Set the width of the sidebar */
      position: fixed; /* Fixed Sidebar (stay in place on scroll) */
      z-index: 1; /* Stay on top */
      top: 0; /* Stay at the top */
      left: 0;
      overflow-x: hidden; /* Disable horizontal scroll */
      padding: 20px;
  }

  textarea {
      width: 160px;
      resize: vertical;
    }
  
}
