
canvas {  
  touch-action: pinch-zoom;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  border: 1px solid black;
  padding: 0px;
}

/* disable number pon on firefox */

input[class='rule'] {
    -moz-appearance:textfield;
}


/* Webkit browsers like Safari and Chrome */

input[class=rule]::-webkit-inner-spin-button,
input[class=rule]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.controls {
    display: flex;
    flex-direction: column;
    padding: 5px;
    align-content: flex-start;
    padding: 3px;
}

#controls>* {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex-shrink: 1;
    min-width: 0;
    min-height: 0;
    margin: 3px;
}

div>* {
    display: flex;
    margin: 0 0 3px 3px;
    flex-shrink: 1;
}

input {
    width:3em;
}

#link {
    width: 90%
}

#sim {
    display: flex-block;
    flex-direction: row;
    width: 95%;
}

.texture {
    width: 32px;
    height: 32px;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    border: 1px solid black;
    margin: px;
}

textarea {
    display: block;
    width: 90%
}

#artControls>* {
    margin: 0 0 3px 3px;
}

/* iPads */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)
and (orientation : landscape) {

        canvas {
	position: absolute;
	right: 3vmin;
	padding: 0px;
	width: 80vw;
    }
    
  #controls {
      width: 18vw; /* Set the width of the sidebar */
      min-width: 160px;
      max-width: 200px;
      z-index: 1; /* Stay on top */
      top: 0; /* Stay at the top */
      left: 0;
      overflow-x: hidden; /* Disable horizontal scroll */
  }

  textarea {
      height: 3em;
      width: 13vw;
  }

  #link {
      width: 13vw;
  }

  #sim {
      width: 18vw;
  }
}

@media only screen and (max-device-width: 1024px) and (orientation: portrait) {
    canvas {
	height: auto;
	width: 95vmin;
	display: block;
    }
    
    #controls {
	position:relative;
	width: 95vmin;
    }

    textarea {
	width: 95vmin;
	height: 6em;;
    }

    #link {
	width: 95vmin;
    }
}


@media only screen and  (max-device-width: 1023px) and (orientation: landscape) {
    
    canvas {
	position: absolute;
	right: 3vmin;
	padding: 0px;
	height: 95vmin;
	width: auto;
    }
    
  #controls {
      width: 18vw; /* Set the width of the sidebar */
      min-width: 180px;
      z-index: 1; /* Stay on top */
      top: 0; /* Stay at the top */
      left: 0;
      overflow-x: hidden; /* Disable horizontal scroll */
  }

  textarea {
      height: 3em;
      width: 80%
  }

  #link {
      width: 80%;
  }

  #sim {
      width: 80%;
  }
}
    
@media only screen and (min-device-width: 1025px) {
    canvas {
	margin-left: 210px; /* Same width as the sidebar + left position in px */
	padding: 0px;
	width: 800px;
	height: 600px;		   
    }
    
    #controls {
	position: fixed;
	width: 180px;
	z-index: 1;
	top: 0;
	left: 0;
	overflow-x: hidden;
	padding: 20px;
    }

    textarea {
	width: 95%;
	resize: vertical;
	height: 8em;
    }

    #link {
	width: 95%;
    }

    #sim {
	width: 95%;
    } 
}

    }
